# File di sistema macOS
.DS_Store

# Cartella ambiente virtuale Python
myenv/

# Cartella di configurazione git
.git/

# File e directory log o temporanee
*.log
__pycache__/
*.pyc

# Escludi altri file temporanei o di backup
*~

# Dataset
dataset/


# Diario - non caricare su GitHub
Diario/